<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="layout/layout">
<head>
<title>Users</title>
<link rel="stylesheet" href="assets/dist/css/pagination-footer.css"
	th:href="@{/assets/dist/css/pagination-footer.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Users</h3>
						<div class="box-tools">
							<div class="input-group">
								<a class="btn btn-sm btn-default" th:href="@{/users/add}"><i
									class="fa fa-plus-circle"></i>Add User</a>
							</div>
						</div>
					</div>
					<!-- box header -->

					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th style="width: 10px">#</th>
								<th><a class="sorted" sd:pagination-sort="fullname">Name</a></th>
								<th><a class="sorted" sd:pagination-sort="email">Email</a></th>
								<th>Edit</th>
							</tr>

							<tr th:each="user, iterStat : ${users}">
								<td><a th:href="@{/users/{uuid}(uuid=${user.uuid})}"><span
										th:text="${iterStat.count}">1</span></a></td>
								<td th:text="${user.fullname}">Name</td>
								<td th:text="${user.email}">Email</td>
								<td><a th:href="@{/user/{uuid}(uuid=${user.uuid})}"
									class="btn btn-sm btn-default"><i class="fa fa-edit"></i>Edit</a></td>
							</tr>
						</table>
						<div class="row">
							<div class="col-sm-4">
								<div sd:pagination-summary="">info</div>
							</div>
							<div class="col-sm-4">
								Show <span sd:page-size-selector="javascript"></span> entries
							</div>
							<div class="col-sm-4">
								<nav class="pull-right">
									<ul class="pagination" sd:pagination="full">
										Pagination created by SpringDataDialect, this content is just
										for mockup
										<li class="disabled"><a href="#" aria-label="Previous"><span
												aria-hidden="true">&laquo;</span></a></li>
										<li class="active"><a href="#">1 <span
												class="sr-only">(current)</span></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- box body -->

				</div>
				<!-- box -->
			</div>
		</div>
	</div>
</body>
</html>